* {
    background-color: teal;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    color: rgb(236, 230, 219);
}
h1 {
    font-size: 3.5rem;
}
h2 {
    font-size: 2.2rem;
}
p {
    font-size: 1.2rem;
}

body,
#main,
.picture-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-board {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.picture-container {
    border: 12px solid wheat;
    border-radius: 10px;
    padding: 25px;
    margin: 35px;
}

img {
    width: 350px;
    height: 350px;
    object-fit: cover;
}
