body {
    background: linear-gradient(290deg, #2e0249, #130614, #141233, #1c0241);
    background-size: 300% 300%;
    animation: universe 10s ease infinite;
    color: #dabdbd;
    font-family: Helvetica, Arial, sans-serif;
}

@keyframes universe {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
h1 {
    color: #ece6db;
    font-size: 8rem;
    margin-top: 120px;
    font-family: "Orbitron", sans-serif;
    -webkit-animation: textPulsar 1.2s ease-in-out infinite alternate;
    -moz-animation: textPulsar 1.2s ease-in-out infinite alternate;
    animation: textPulsar 1.2s ease-in-out infinite alternate;
}
@-webkit-keyframes textPulsar {
    from {
        text-shadow: 0 0 2px #fff, 0 0 6px #f0f, 0 0 10px #0ff, 0 0 12px #e60073;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #ff4da6, 0 0 14px #ff4da6,
            0 0 16px #ff4da6;
    }
}

h2 {
    font-size: 2.2rem;
}
p {
    font-size: 1.2rem;
}

img {
    width: 350px;
    height: 350px;
    object-fit: cover;
}
footer {
    padding: 40px;
}

body,
form,
#main,
.picture-container,
.image-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* form elements */
.form-box {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    justify-content: space-between;
}
.input-form {
    margin: 50px;
}

.input-form input {
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 2px;
    margin: 10px;
    padding-left: 5px;
    font-size: 22px;
    background-color: #dabdbd;
}

input::placeholder {
    color: #198991e7;
}
#input-tag {
    display: none;
}

label,
button {
    border-radius: 2px;
    border: none;
    width: 180px;
    height: 50px;
    font-size: 22px;
    font-weight: bold;
    margin: 10px;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    outline: 0;
}

button,
label:hover,
label:focus {
    color: #dabdbd;
    background: linear-gradient(45deg, transparent 5%, #198991e7 5%);
}
label {
    text-align: center;
    height: 28px;
    display: inline-block;
    padding: 12px;
    color: #198991e7;
    background: linear-gradient(45deg, transparent 5%, #dabdbd 5%);
}

button:hover,
button:focus {
    background: linear-gradient(45deg, transparent 5%, #b2034a 5%);
}

.image-news {
    margin-top: 100px;
    font-size: 2.5rem;
}
/* image board element */

.image-board {
    flex-wrap: wrap;
    flex-direction: row;
}

.picture-container {
    border: 12px solid #dabdbd;
    border-radius: 10px;
    padding: 25px;
    margin: 35px;
    cursor: pointer;
}
.picture-container:hover {
    border: 12px solid #e49797;
}

/* modal box styling  */

.modal-box {
    display: flex;
    background-color: rgb(20, 5, 41, 0.97);
    padding: 60px;
    border: 8px solid #f7c0eee7;
    border-radius: 10px;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 70vh;
    justify-content: space-between;
    -webkit-animation: pulsar 1s ease-in-out infinite alternate;
    -moz-animation: pulsar 1s ease-in-out infinite alternate;
    animation: pulsar 1s ease-in-out infinite alternate;
}
@-webkit-keyframes pulsar {
    from {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #f0f, 0 0 20px #0ff,
            0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073;
    }
    to {
        box-shadow: 0 0 10px #fff, 0 0 15px #ff4da6, 0 0 20px #ff4da6,
            0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 35px #ff4da6,
            0 0 40px #ff4da6;
    }
}
.modal-box img {
    max-width: 60%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: 0;
}

.modal-box h2 {
    font-family: "Orbitron", sans-serif;
}
.modal-info {
    padding: 0 60px;
    display: flex;
    flex-direction: column;
}
.modal-info p {
    margin-top: auto;
}

/* The Close Tag */
.close-tag {
    color: #aaa;
    font-size: 38px;
    font-weight: bold;
    position: absolute;
    right: 4%;
}

.close-tag:hover,
.close-tag:focus {
    color: #ece6db;
    text-decoration: none;
    cursor: pointer;
}
